
body {
	position:relative;
	margin:0;
	padding:0;
	width:100vw;
	font-family: 'Josefin Sans', sans-serif;
	background-color:white;
	overflow-x:hidden;
}
*{
	font-family: 'Josefin Sans', sans-serif;
}
.newslist::-webkit-scrollbar,body::-webkit-scrollbar {
	width: 0.7em;
	background: transparent;
  }
.newslist::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
	background: #9F2D40;
  }
.topnav {
	overflow: hidden;
	position: relative;
	text-align: center;
	padding:5px;
	margin:0;
	position:fixed;
	width:100vw;
	top:0;
	background:  #14576B;
	z-index:2;
  }

  .topnav .myLinks {
	display: none;
  }
  

  .topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  

  .topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height:100%;
  }
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .nav {
		text-align: center;
		padding:5px;
		margin:0;
		position:fixed;
		overflow:hide;
		width:100vw;
		top:0;
		background: #14576B;
		z-index:2;
	}
	
	
	.nav a {
		margin:0;
		display:inline-block;
		color: white;
		padding: 15px;
		text-decoration: none;
		font-size:20px;
	  
	}
	
	.nav a:hover {
	  background-color: #D67183;
	  color: white;
	}

	.nav a.active {
	  background-color: #4CAF50;
	color: white;
	  display:none;
	}
	.main a{								
		text-decoration:none;
	}
	
	.nav .icon {
	  display: none;
	}
	
	
.skip a{
  color:#FFFFFF;
  left: 0;
  background-color: #292929;
  padding: 6px;
  position:relative; 
  text-decoration:none;
  top:80px;      
  z-index: 5;
}
.skip{
	overflow:hidden;
}
.skip a:focus{
	top:80px;
	
}
*:focus{
	outline-color:yellow;
	outline-width: 1px;
	z-index:5;
}
a i:focus{
	color:yellow;
}

.links a{
	padding:6px;
	font-size:17px;
	color:black;
	width:100%;
	display:block;
	text-align:center;
	text-decoration:none;
}
a:hover{
	color:#249BC0;
}
.links img{
	width:15px;
}

i {
      vertical-align: middle;
	  margin-top:-5px;
    }	
	 

.space{
	position:relative;
	height:98vh;
	width:100%;
}
.about{
	background-color:white;
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
	width:100vw;
}

.contact{
	background-color:white;
	display:flex;
}
.side{
	top:60px;
	left:0;
	position:fixed;
	width:35vw;
	height:calc(100vh - 64px);
	background-color:#B2DCE9;
	overflow:auto;
}
.side-flex{
	display:flex;
	justify-content: space-around;
}

.closed{
	display:none;
	top:64px;
	left:0;
	position:fixed;
	width:0vw;
	height:100vh;
	background-color:#B2DCE9;
	overflow:auto;
	
}
#arrow{
	
	transform:translateX(-50%);
	text-align:left;
	position:fixed;
	z-index:3;
	top:50%;
	left:35vw;
	color:white;
	background-color:#249BC0;
	border:4px solid #249BC0;
	border-radius:100%;
}
a:focus #arrow{
	border:4px solid yellow;
}
.main{
	position:absolute;
	
	top:60px;
	left:35vw;
	width:65vw;
	height:calc(100vh - 60px);
	position:absolute;
	background-color:white;
}
.haimson{
	display:block;
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	max-width:70%;
	max-height:45%;
	border: 15px solid #249BC0;
	
}
.umsi{
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	max-width:70%;
	max-height:20%;
}


h2{
	text-align:center;
	margin-top:15px;
	font-size:150%;
	color:#292929;
}
.rn{
	padding-top:15px;
	color:#EF2D56;
	text-align:center;
}
.flex-cont{
	width:100%;
	padding-top:4vh;
	height:calc(100vh - 60px - 4vh);
	text-align:center;
	position:relative;
	display:flex;
	justify-content:center;
}

.research{
	position:relative;
width:100%;
height: 100%;
display:flex;
overflow: hidden;
flex-direction:column;
}
.news{
	margin-right: 1px;
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	
}
.textdiv{
	border-bottom:1px solid #14576B;
	border-right: 1px solid #14576B;
	width:auto;
	height:auto;
	font-size:20px;
}
.textdiv td{
	vertical-align:middle;

}
.textdiv img{
	margin-left:10px;
	border-radius:20%;
}

.textdiv img{
	margin-left:10px;
	border-radius:20%;
}

.newslist{
	
	width:100%;
	height:100%;
	overflow-x:auto;
	overflow-y:scroll;
	border-left:1px solid #14576B;
}
.news h4{
	border-right:1px #14576B solid;
	width:auto;
	padding-top:5px;
	font-size:20px;
}
.news h4:first-child{
	border-top:1px #14576B solid;
}


ul{
	font-size:20px;
	padding:.5vw;
	width:100%;
	list-style:none;
}

.ra-card img{
	margin-top:10px;
	width: 19%;
	height: auto;
	
}
.ra-card{
	border: #DC8492 solid;
	border-radius:10px;
	margin:15px auto;
	padding:5px;
	width:80%;
	height: auto;
	max-width:20vw;
	max-height: 100%;
	background-color:#DC8492;
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
}
.ra-card:hover{
	background-color:#249BC0;
}
.ra-card p{
	color:#080808;
	width:50%;
	padding:10px;
}


label {
	display:block;
	text-align:center;
	font-size:2.5vw;
}

footer p{
	background-color: #14576B;
	border:none;
	color:white;
}
h1 {
	width:100%;
	top:30px;
	position:absolute;
	font-size:200%;
    color:#14576B;
	text-align:center;
}
.textdiv, br{
	
}
footer{
	text-align:center;
	color:white;
	bottom:0;
	height:20px;
	position:fixed;
	width:100vw;
	background-color:#14576B;
}
footer p{
	font-size:12px;
	position:relative;
	height:100%;
	top:25%;
}
.about-text{
	padding-top: 15px;
	margin:20px;
	font-size:20px;
}
.about-text p{
	margin:20px;
}
.about-text h2{
	color:black;
	font-size:25px;
	padding-bottom:30px;
	padding-top:50px;
}
.about-links img{
	max-width:100%;
	max-height:200px;
	
}
.about-links{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: ". . ." ". . .";
	grid-gap:50px;
}
.about-links-div{
	display:flex;
	height:100%;
	justify-content:center;
	flex-direction: column;
}
.teaching{
	position: relative;
	top:40px;
	font-size:20px;
}
.teaching h4{
	font-size:30px;
	padding-top:20px;
	color:#EF2D56;
}
#researchTable3{
	margin:10px;
}
	
.stud-flex{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	bottom:20px;

}
.student-flex{
	top:20px;
	width:100%;
	text-align:center;
	position:absolute;
	
}
h2{
	margin-top: 15px;
}
.student-flex .intro{
	position: relative;
	top:10px;
	padding-top:5px;
    border-top:#9F2D40 solid;
	padding-left:5%;
	padding-right:5%;
	font-size:20px;
}
.stud .card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
  max-width:20%;
  background-color:#9F2D40;
  color:white;
  margin:10px;
}
.stud .card:hover {
  box-shadow: 0 8px 30px 0 rgba(0,0,0,1);
}
.stud h2{
	font-size:20px;
	color:black;
	margin:20px;
}
.stud img{
	width:calc(100% - 10px);
	max-width:200px;
	padding-top:10px;
}
.pubs{
top:100px;
display:flex;
flex-direction:column;
		align-items:center;
		margin-left:auto;
		margin-right:auto;

position:relative;
}
.collapsible {
	margin-top:5px;
  background-color: #A70C2D;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border:#EF2D56 solid;
  text-align:center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #249BC0;
}

.content {
  padding:10 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.content .textdiv{
	padding:10px;
	width: 100%;
	margin:0;
}
.content .textdiv tr{
	border-bottom:#EF2D56 solid;
	border-width: 2px;
}
.content .textdiv td:first-child{
	width:50px;
}
.content img{
	height:10vw;
	max-height:200px;
	padding:10px;
}
.news img{
		width:auto; 
		max-width:80px;
		
	}

/* .teaching > a{
		color:#14576C;
} */
/* .intro > a {
	color:#14576C;
}
.about-text > a{
	color: #14576C;
} */
/* .teaching > a{
	color:#14576C;
} */
/* p > a {
	color:#14576C;
}
#text > a{
	color:#14576C;
} */


@media screen and (max-width: 760px) {
	body {
		position:relative;
		margin:0;
		padding:0;
		width:100vw;
		font-family: 'Josefin Sans', sans-serif;
		background-color:white;
		overflow-x:hidden;
	}
	*{
		font-family: 'Josefin Sans', sans-serif;
	}

	.skip a{
	color:#FFFFFF;
	background-color: #292929;
	  left: 0;
	  padding: 6px;
	  position:relative; 
	  top:40px;      
	  -webkit-transition: top 1s ease-out;
	  transition: top 1s ease-out;
	  z-index: 5;
	}
	.skip{
		overflow:hidden;
	}
	.skip a:focus{
		top:80px;
		
	}
	.about-text > a{
		color: #14576C;
	}
	/* .teaching > a{
		color:#14576C;
	} */
	*:focus{
		border:none;
		z-index:5;
	}
	.about-text{
	padding-top: 15px;
	}
	p > a{
		color:#14576C;
	}
	a i:focus{
		color:yellow;
	}
	.nav {
		text-align: center;
		margin:0;
		position:fixed;
		overflow: auto;
		width:100vw;
		top:0;
		left:0;
		background: #14576B;
		z-index:2;
		height:auto;
	}
	.nav .myLinks{
		display:none;
		height:100%;
	}
	
	.nav .myLinks a{
		margin:0;
		padding:14px 16px;
		display:block;
		color: white;
		text-decoration: none;
		font-size: 17px;
	}

	.nav a.active{
	  background-color: #14576B;
	  color: white;
	  font-size:27px;
	  text-align:center;
	  display:block;
	  height:100%;
	}
	
	.nav a.icon {
	display: block;
	right:5px;
	top:5px;
	position:absolute;
	height:auto;

	font-size:24px;
	}
	.nav .icon:hover{
		background-color:#249BC0;
	}
	
		 
	.main a{								
		text-decoration:none;
	}
	.space{
		position:relative;
		height:98vh;
		width:100%;
	}
	.about{
		background-color:white;
		display:flex;
		flex-direction: column;
		align-items: center;
		height:100vh;
		width:100vw;
	}
	
	.contact{
		background-color:white;
		display:flex;
	}
	.side{
		display:none;
		top:64px;
		left:0;
		position:fixed;
		width:35vw;
		height:100vh;
		background-color:#B2DCE9;
		overflow:auto;
	}
	.closed{
		top:64px;
		left:0;
		position:fixed;
		width:0vw;
		height:100vh;
		background-color:#B2DCE9;
		overflow:auto;
		
	}
	#arrow{
		display:none;
		transform:translateX(-50%);
		text-align:left;
		position:fixed;
		z-index:3;
		top:50%;
		left:35vw;
		color:white;
		background-color:#249BC0;
		border:4px solid #249BC0;
		border-radius:100%;
	}
	a:focus #arrow{
		border:4px solid yellow;
	}
	.main{
		position:absolute;
		display:block;
		top:64px;
		left:0vw;
		width:100vw;
		height:auto;
		background-color:white;
	}
	
	.haimson{
		display:flex;
		align-items:center;
		margin-left:auto;
		margin-right:auto;
		margin-top:50px;
		max-width:70%;
		max-height:50%;
		border: 15px solid #249BC0;
		
	}
	.umsi{
		display:flex;
		align-items:center;
		margin-left:auto;
		margin-right:auto;
		margin-top:50px;
		max-width:70%;
		max-height:20%;
	}
	
	h2{
		text-align:center;
		margin-top:15px;
		font-size:200%;
		color:white;
	}
	.rn{
		margin-top: 30px;
		color:#D67183;
		text-align:center;
		border:none;
	}
	.research{
		position:relative;
		width:100vw;
	}
	.news{
		
		position:relative;
		width:100vw;
		overflow:hidden;
		
	}
	.news img{
		width:auto; 
		max-width:80px;
		
	}
	.textdiv{
		width:90%;
		margin:auto;
		background-color: #DC8492;
		border: #DC8492 solid 0px;
		border-radius:10px;

	}
	.newslist{
		height:80vh;
		overflow-x: hidden;
		border:none;
	}
	.newslist h4{
		border:none;
	}
	
	.flex-cont{
		top:40px;
		width:100%;
		height:auto;
		text-align:center;
		flex-direction:column;
		position:absolute;
		display:flex;
		
	}
	/* a{
		color:white;
	} */
	ul{
		font-size:20px;
		padding:1vw;
		width:100%;
		list-style:none;
	}
	.ra-card img{
		margin-top:10px;
		width:auto;
		height:auto;
		max-height:15vh;
	}
	.ra-card{
		border: #DC8492 solid;
		border-radius:10px;
		margin:15px auto;
		padding:5px;
		width:100%;
		max-width:90vw;
		background-color:#DC8492;
		display:flex;
		flex-direction:column-reverse;
		align-items:center;
	}
	.ra-card:hover{
		background-color:red;
	}
	.ra-card p{
		color:#080808;
		width:90%;
		padding:10px;
	}
	td > a{
		color: #080808;
		background-color:#DF90A4;
	}
	
	label {
		display:block;
		text-align:center;
		font-size:2.5vw;
	}
	
	footer p{
		background-color:black;
		border:none;
	}
	h1 {
		margin-top:30px;
		width:100%;
		top:10px;
		position:absolute;
		font-size:30px;
		color:#249BC0;
		text-align:center;
	   
	}

}

@media screen and (max-width: 1224x){

	
}