body {
	position:relative;
	margin:0;
	padding:0;
	width:100vw;
	font-family: 'Josefin Sans', sans-serif;
	background-color:white;
}
*{
	font-family: 'Josefin Sans', sans-serif;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position:relative; 
  top:40px;      
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 5;
}
.skip{
	overflow:hidden;
}
}
.skip a:focus{
	top:80px;
	
}
*:focus{
	outline-color:yellow;
	outline-width: 1px;
	border:2px solid yellow;
	z-index:5;
}
a i:focus{
	color:yellow;
}

.nav {
	text-align: center;
	padding:5px;
	margin:0;
	position:fixed;
	overflow: auto;
	width:100vw;
	top:0;
	background: #249BC0;
	z-index:2;
}


.nav a {
	margin:0;
	display:inline-block;
	color: white;
	padding: 15px;
	text-decoration: none;
	font-size: 24px;
  
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}
.main a{								
	text-decoration:none;
}

.nav .icon {
  display: none;
}



i {
      vertical-align: middle;
	  margin-top:-5px;
    }	
	 

.space{
	position:relative;
	height:98vh;
	width:100%;
}
.about{
	background-color:white;
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
	width:100vw;
}

.contact{
	background-color:white;
	display:flex;
}
.side{
	top:64px;
	left:0;
	position:fixed;
	width:35vw;
	height:100vh;
	background-color:#B2DCE9;
	overflow:auto;
}
.closed{
	top:64px;
	left:0;
	position:fixed;
	width:0vw;
	height:100vh;
	background-color:#B2DCE9;
	overflow:auto;
	
}
#arrow{
	transform:translateX(-50%);
	text-align:left;
	position:fixed;
	z-index:3;
	top:50%;
	left:35vw;
	color:white;
	background-color:#249BC0;
	border:4px solid #249BC0;
	border-radius:100%;
}
a:focus #arrow{
	border:4px solid yellow;
}
.main{
	position:absolute;
	display:block;
	top:64px;
	left:35vw;
	width:65vw;
	position:absolute;
	background-color:white;
}
.haimson{
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	max-width:70%;
	max-height:50%;
	border: 15px solid #249BC0;
	
}
.umsi{
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	max-width:70%;
	max-height:20%;
}


h2{
	text-align:center;
	margin-top:15px;
	font-size:200%;
	color:white;
}
.rn{
	padding:1vw;
	color:#D67183;
	text-align:center;
}
.research{

width:100%;
}
.news{
	width:100%;
	height:100%;
	overflow: hidden;
	
}
.newslist{
	height:80vh;
	overflow:scroll;
}
.flex-cont{
	top:80px;
	width:100%;
	text-align:center;
	position:absolute;
	display:flex;
	justify-content:center;
}
ul{
	font-size:20px;
	padding:1vw;
	width:100%;
	list-style:none;
}
.ra-card img{
	margin-top:10px;
	width:auto;
	height:auto;
	max-height:15vh;
}
.ra-card{
	margin:15px auto;
	padding:5px;
	width:100%;
	max-width:25vw;
	background-color:#D67183;
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
}
.ra-card:hover{
	background-color:red;
}
.ra-card p{
	color:white;
	width:50%;
	padding:10px;
}


label {
	display:block;
	text-align:center;
	font-size:2.5vw;
}

footer p{
	background-color:black;
	border:none;
}
h1 {
	width:100%;
	top:50px;
	position:absolute;
	font-size:45px;
    color:#249BC0;
	text-align:center;
   
}