/* CSS for personal webpage */
/* Oliver Haimson */

body {
	margin-left: 50px;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
	padding: 150;
	background: white;
	font-family: "Arial";
	color: black;
}

a:link {text-decoration: none; color: #00b8d4;}
a:visited {text-decoration: none; color: #00b8d4;}
a:active {text-decoration: none; color: #606060;}
a:hover {text-decoration: none; border: 2px solid white;}
#special a:visited {text-decoration: none; color: #EF2D56;}
h4 a:visited {text-decoration: none; color: inherit;}
h4 a:hover {text-decoration: none; color: darkgray;}

.box:hover{
  background-color: #EF2D56;
}

.boxWide:hover{
  background-color: #EF2D56;
}

.box2:hover{
  background-color: #EF2D56;
}

#col1 {
  column-width:251px;
}

#col2 {
  column-width: 60px;
  padding-left: 30px;
}

#col3 {
  padding-left: 30px;
  margin-right: 50px;
}

#col4 {
  padding-left: 30px;
  margin-right: 50px;
}

#menu {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0px;
  line-height: 20px;
  valign: top;
}

h1 {
  color: black;
  font-size: 20px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

h1b {
  color: black;
  font-size: 28px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 2px;
  font-weight: bold;
}

h1c {
  color: black;
  font-size: 45px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 2px;
  font-weight: bold;
}

h2 {
  font-size: 17px;
  text-align: left;
  color: #EF2D56;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 4px;
}

h3 {
  font-size: 15px;
  text-align: left;
  color: #EF2D56;
  line-height: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h6 {
  font-size: 17px;
  text-align: left;
  color: #EF2D56;
  margin-top: 7px;
  margin-bottom: 9px;
}

#contact {
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
}

h4 {
  font-size: 16px;
  text-align: left;
  color: #EF2D56;
  line-height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

h9 {
  font-size: 16px;
  text-align: left;
  color: #000000;
  line-height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

h5 {
  font-size: 18px;
  text-align: left;
  color: #EF2D56;
  margin-top: 0px;
  margin-bottom: 5px;
}

#text {
  font-size: 13px;
  text-align: left;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#dateText {
  font-size: 10px;
  text-align: left;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.box {
  height: 205px;
  width: 280px;
  padding: 12px 12px 18px 12px;
  background-color: #323232;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: static;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.boxWide {
  height: 14px;
  width: 280px;
  padding: 12px 12px 18px 12px;
  background-color: #323232;
  color: #F7F7F7;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: static;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.box2 {
  height: 17px;
  width: 235px;
  padding: 12px 12px 18px 12px;
  background-color: #323232;

}

h7 {
  color: #F7F7F7;
  font-size: 14px;
  font-weight: bold;
}

h8 {
  font-size: 18px;
  text-align: left;
  color: #EF2D56;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
}

h9 {
  font-size: 16px;
}

h10 {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  margin-top: 20px;
}

#researchTable {
  position: absolute;
  margin-left: 391px;
}

#researchTable2 {
  position: absolute;
  margin-left: 775px;
  margin-right: 100px;
}

#researchTable3 {
  position: absolute;
  margin-left: 420px;
  margin-right: 100px;
}

#researchTable4 {
  position: absolute;
  table-layout: fixed;
  width: 1200px;
  margin-right: 100px;
  font-size: 13px;
  text-align: left;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-collapse: collapse;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " â™¦"}

.sortable tr {
  border-bottom: 1px solid #99e2ed;
}

.sortable td {
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.sortable tr:hover {background-color: #f5f5f5;}


.centeredImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}